<app-navbar-private></app-navbar-private>
<div class="container" style="margin-top: 200px">
  <div class="row">
    <div class="col-md-8">
      <h2>Detalles de tu compra</h2>
      <div *ngFor="let producto of carrito">
        <p>{{ producto.nombre }} - {{ producto.precio | currency }}</p>
      </div>
      <p [hidden]="!totalGreaterThanZero()">Total: {{ calcularTotal() | currency }}</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 300px">
      <button class="btn btn-primary" (click)="pagarTotal()" [disabled]="!totalGreaterThanZero()">Pagar Total</button>

    </div>
  </div>
</div>
<div *ngIf="showLoader" class="loader">
  <div class="lds-dual-ring"></div>
  Procesando...
</div>
<app-footer></app-footer>

