<!-- nombre-del-componente.component.html -->

<header class="masthead"
    style="background-image: url('assets/img/ComidaChilena.jpg');position: relative;height: 1013.667px;">
    <div class="container">
        <div class="intro-text"
            style="background: var(--bs-secondary-color);padding: 40px 0px 100px;padding-right: 0px;padding-left: 0px;margin-left: -13px;margin-right: -12px;">
            <img src="assets/img/Captura_de_pantalla_2023-10-09_175534-removebg-preview.png" width="197"
                height="110">
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase">
                <div class="intro-lead-in"><span style="font-weight: bold;">Iniciar Sesión</span>
                    <div class="intro-lead-in"><span style="font-size: 13px;">iNGRESE SUS CREDENCIALES</span></div>
                </div>
            </div>
            <section class="position-relative py-4 py-xl-5">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-5">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <form class="text-center" method="post" (ngSubmit)="onSubmit()">
                                        <div class="mb-3"><input class="form-control" type="email" name="email"
                                                placeholder="Correo o Usuario" [(ngModel)]="user.usuario" required>
                                          <label *ngIf="showValidationMessages && !user.usuario" class="text-danger">Usuario requerido</label>
                                        </div>

                                        <div class="mb-3"><input class="form-control" type="password"
                                                name="password" placeholder="Contraseña" [(ngModel)]="user.password" required>
                                          <label *ngIf="showValidationMessages && !user.password" class="text-danger">Contraseña requerida</label>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-primary d-block w-100"
                                                type="submit" (click)="showValidationMessages = true"
                                                style="background: #f71515;--bs-primary: #f71515;--bs-primary-rgb: 247,21,21;--bs-success: #f71515;--bs-success-rgb: 247,21,21;">Iniciar
                                                sesión</button></div>
                                        <p class="text-muted"><a routerLink="/reset" class="text-muted">¿Olvidaste tu contraseña?</a></p>
                                        <p class="text-muted"><a routerLink="/register" class="text-muted">Registrarte</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><span class="copyright" style="font-size: 10px;">Copyright&nbsp;© Santiago-Food 2023</span>
            <ul class="list-inline social-buttons">
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
</header>

