<header class="masthead" style="background-image: url('assets/img/ComidaChilena.jpg'); position: relative; height: 1013.667px;">
  <div class="container">
    <div class="intro-text" style="background: var(--bs-secondary-color); padding: 40px 0px 100px; padding-right: 0px; padding-left: 0px; margin-left: -13px; margin-right: -12px;">
      <img src="assets/img/Captura_de_pantalla_2023-10-09_175534-removebg-preview.png" width="197" height="110">
      <div class="intro-lead-in"></div>
      <div class="intro-heading text-uppercase">
        <div class="intro-lead-in"><span style="font-weight: bold;">Restablecimiento de Contraseña</span></div>
        <div class="intro-lead-in"><span style="font-size: 13px;">La página está en mantenimiento</span></div>
      </div>
      <!-- Mensaje de mantenimiento -->
      <div class="intro-lead-in" style="text-align: center;">
        <p>Disculpa, la página de restablecimiento de contraseña está actualmente en mantenimiento. Vuelve a intentarlo más tarde.</p>
      </div>
      <!-- Botón para volver al login -->
      <div style="text-align: center;">
        <button class="btn btn-primary" (click)="goToLogin()" style="background: #f71515;--bs-primary: #f71515;--bs-primary-rgb: 247,21,21;--bs-success: #f71515;--bs-success-rgb: 247,21,21;">Volver al Login</button>
      </div>
    </div>
  </div>
</header>
