<header class="masthead" style="background-image: url('assets/img/comidachilenazonas.jpg');filter: saturate(142%);padding: 0px;">
  <div class="container" style="padding-bottom: 0px;">
    <div class="intro-text" style="color: var(--bs-btn-bg);background: var(--bs-tertiary-color);padding: 239px 0px 100px;height: 808px;overflow: auto;margin-left: -12px;padding-left: 0px;margin-right: -12px;padding-right: 0px;">
      <div class="intro-lead-in">
        <div class="intro-heading text-uppercase" style="font-size: 34px;"><span>¡Bienvenido a santiago-food!</span></div>
      </div>
      <span>¿Eres nuevo y quieres unirte a Santiago-food?</span>
      <div class="intro-heading text-uppercase"><span></span></div>
      <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services" style="background: #f71515;--bs-primary: #a95534;--bs-primary-rgb: 169,85,52;--bs-warning: #A95534;--bs-warning-rgb: 169,85,52;border-style: none;border-color: #f71515;">Crea tu cuenta</a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <picture><img src="assets/img/Captura_de_pantalla_2023-10-09_175534-removebg-preview.png" width="168" height="82"></picture>
      </a>
      <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: #f71515;padding: 17px;"><i class="fa fa-bars" style="font-size: 22px;"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto text-uppercase">
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item"><a class="nav-link" href="#services" style="font-size: 9.4px;--bs-primary: asd;">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" href="#about" style="font-size: 9.4px;">Sobre nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact" style="font-size: 9.4px;">Contacto Empresas</a></li>
        </ul>
        <a class="btn btn-primary btn-xl text-uppercase" role="button" href="login.html" style="background: #f71515;--bs-primary: #a95534;--bs-primary-rgb: 169,85,52;--bs-warning: #A95534;--bs-warning-rgb: 169,85,52;border-radius: 21px;width: 187.25px;height: 42px;font-size: 13px;text-align: center;padding: 12px 40px;border-style: none;border-color: #f71515;">Iniciar Sesión</a>
      </div>
    </div>
  </nav>
</header>
