

.leaflet-marker-icon{
  /* Adjust the paths based on your project structure */
  background-image: url('assets/icons8-google-maps-nuevo-100.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.leaflet-marker-icon {
    background-image: url('assets/icons8-google-maps-nuevo-100.png');
  width: 25px;
  height: 41px;
}

.leaflet-marker-icon.leaflet-2x {
  background-image: url('assets/icons8-google-maps-nuevo-100.png');
  width: 40px;
  height: 64px;
}

.leaflet-marker-shadow {
  /* Adjust the paths based on your project structure */
  background-image: url('assets/marker-shadow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}