<nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">
      <picture>
        <img src="assets/img/Captura_de_pantalla_2023-10-09_175534-removebg-preview.png" width="168" height="82">
      </picture>
    </a>
    <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: #f71515;padding: 17px;">
      <i class="fa fa-bars" style="font-size: 22px;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto text-uppercase">
        <li class="nav-item"></li>
        <li class="nav-item"></li>

      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-primary" type="submit" [routerLink]="['/detail']">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>

          <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cantidadTotal }}</span>
        </button>
      </form>
    </div>
  </div>
</nav>
