

<div class="bg-dark" id="page-top" style="margin-top: 90px;">
<div class="" id="wrapper" >
  <div class="d-flex flex-column" id="content-wrapper">
    <div class="" id="content" >
      <app-navbar-stores></app-navbar-stores>
      <div class="container-fluid" >
        <div class="text-light d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class=" mb-0">Dashboard</h3>
        </div>
        <div class="row ">
          <div class="col-md-6 col-xl-3 mb-4 ">
            <div class="card py-2 " style="background-color: #3E4034!important;">
              <div class="card-body" >
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase fw-bold text-xs mb-1" style="color: #B5BF5E!important;"><span>Ganancias (mes)</span></div>
                    <div class="fw-bold h5 mb-0" style="color: #5597D9!important;"><span>$40,000</span></div>
                  </div>
                  <div class="col-auto"><i class="fa fa-money" aria-hidden="true" style="color: #BCD2E8!important;"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card py-2" style="background-color: #3E4034!important;">
              <div class="card-body">
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Ganancias (año)</span></div>
                    <div class="fw-bold h5 mb-0" style="color: #5597D9!important;"><span>$215,000</span></div>
                  </div>
                  <div class="col-auto"><i class="fa fa-usd" aria-hidden="true" style="color: #BCD2E8!important;"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card py-2" style="background-color: #3E4034!important;">
              <div class="card-body">
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase fw-bold text-xs mb-1" style="color: #5597D9!important;"><span>Entregas</span></div>
                    <div class="row g-0 align-items-center">
                      <div class="col-auto">
                        <div class="fw-bold h5 mb-0 me-3" style="color: #5597D9!important;"><span>90%</span></div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm">
                          <div class="progress-bar bg-info" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="visually-hidden">90%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card py-2" style="background-color: #3E4034!important;">
              <div class="card-body">
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Pendientes</span></div>
                    <div class="fw-bold h5 mb-0" style="color: #5597D9!important;"><span>18</span></div>
                  </div>
                  <div class="col-auto"><i class="fa fa-tasks" aria-hidden="true" style="color: #BCD2E8!important;"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-7 col-xl-8">
            <div class="card mb-4" style="background-color: #3E4034">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">Pedidos por Zona</h6>
                <div class="dropdown no-arrow">
                  <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                    <p class="text-center dropdown-header">dropdown header:</p>
                    <a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">&nbsp;Something else here</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area" style="height: 400px;">
                  <div >
                    <app-chart-map></app-chart-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card mb-4">
              <div class="card-header text-dark d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">Últimos Pedidos</h6>
                <div class="dropdown no-arrow">
                  <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                    <p class="text-center dropdown-header">dropdown header:</p>
                    <a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">&nbsp;Something else here</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <app-chart-doughnut></app-chart-doughnut>
                </div></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Projects</h6>
              </div>
              <div class="card-body">
                <h4 class="small fw-bold">Server migration<span class="float-end">20%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                </div>
                <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                </div>
                <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                </div>
                <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                </div>
                <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                </div>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Todo List</h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6>
                      <span class="text-xs">10:30 AM</span>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6>
                      <span class="text-xs">11:30 AM</span>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2"></label></div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6>
                      <span class="text-xs">12:30 AM</span>
                    </div>
                    <div class="col-auto">
                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3"></label></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Illustrations</h6>
              </div>
              <div class="card-body text-center p-0">
                <div class="text-center"><img class="img-fluid p-4" src="assets/img/dogs/image2.jpeg" width="350" /></div>
                <p class="text-center text-muted">Add some quality, svg illustrations to your project courtesy of <a href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                <button class="btn btn-primary" type="button">Primary</button>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Development Approach</h6>
              </div>
              <div class="card-body">
                <p class="text-muted">SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<app-footer></app-footer>
